*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8fc;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
}